@model Softtek.Academy2018.Demo.Domain.Model.User
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.IS</h2>
<ul>
    <li> <strong> First Name:</strong> @Model.FirstName</li>
    <li> <strong> Last Name:</strong> @Model.LastName</li>
    <li> <strong> Salary:</strong> @Model.Salary</li>
</ul>
